<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Bebidas</title>
    <link rel="stylesheet" href="sobremesa.css">
    <link href="https://fonts.googleapis.com/css2?family=Tilt+Warp&display=swap" rel="stylesheet">
</head>
<body>

    <div class="main">
        <div class="banner">
            <img src="img/telainicialbebidas.png">
            <div class="buttons">
                <button class="button"><img class="img-menu-item" src="img/simbolo.jpg"></button>
            </div>
        </div>
        <div class="c1">
            <div class="menu">
                <div1 class="menu-item">
                    <img class="img-menu-item" src="img/menuburguerimage.png">
                    <div>Lanches</div>
                </div1>
                <div class="menu-item">
                    <img class="img-menu-item" src="img/combos.png">
                    <div>Combos</div>
                </div>
                <div class="menu-item">
                    <img class="img-menu-item" src="img/sobremesa.png">
                    <div>Sobremesas</div>
                </div>
                <div class="menu-item">
                    <img class="img-menu-item" src="img/bebidas.png">
                    <div>Bebidas</div>
                </div>
                <div class="menu-item">
                    <img class="img-menu-item" src="img/batata.png">
                    <div>Extras</div>
                </div>
                <div class="menu-item">
                    <img class="img-menu-item" src="img/molhos.png">
                    <div>Molhos</div>
                </div>
                <div class="menu-item">
                    <img class="img-menu-item" src="img/cupom.png">
                    <div>Promoções</div>
                </div>
            </div>
         
            <div class="content">

                <div class="container-categoria">
                    <div class="nav-categorias">
                        <a href="">Refrigerante</a>
                        <a href="">Sucos</a>
                        <a href="">Outros</a>
                        <a href="">Categoria 4</a>
                        <a href="">Categoria 5</a>
                        <a href="">Categoria 6</a>
                    </div>
                </div>
                <div class="pedido">
                    <div class="pedido-grid">
                        <div class="pedido-item">
                            <img class="pedido-imagem" src="~/img/coca.png" asp-append-version="true" alt="Coca Cola">
                            <h3 class="pedido-titulo">Coca Cola</h3> 
                            <h4 class="pedido-preco">R$ 8,90</h4>
                        </div>
                        <div class="pedido-item">
                            <img class="pedido-imagem" src="~/img/cocazero.png" asp-append-version="true" alt="Coca Zero">
                            <h3 class="pedido-titulo">Coca Zero</h3> 
                            <h4 class="pedido-preco">R$ 8,90</h4>
                        </div>
                        <div class="pedido-item">
                            <img class="pedido-imagem" src="~/img/spritezero.png" asp-append-version="true" alt="Sprite">
                            <h3 class="pedido-titulo">Sprite Zero</h3> 
                            <h4 class="pedido-preco">R$ 8,90</h4>
                        </div>
                        <div class="pedido-item">
                            <img class="pedido-imagem" src="~/img/fantalaranja.png" asp-append-version="true" alt="Fanta Laranja">
                            <h3 class="pedido-titulo">Fanta Laranja</h3> 
                            <h4 class="pedido-preco">R$ 8,90</h4>
                        </div>
                        <div class="pedido-item">
                            <img class="pedido-imagem" src="~/img/fantauva.png" asp-append-version="true" alt="Fanta Uva">
                            <h3 class="pedido-titulo">Fanta Uva</h3> 
                            <h4 class="pedido-preco">R$ 8,90</h4>
                        </div>
                        <div class="pedido-item">
                            <img class="pedido-imagem" src="~/img/sprite.png" asp-append-version="true" alt="Sprite">
                            <h3 class="pedido-titulo">Sprite</h3> 
                            <h4 class="pedido-preco">R$ 8,90</h4>
                        </div>
                        <div class="pedido-item">
                        <img class="pedido-imagem" src="~/img/sucopessego.png" asp-append-version="true" alt="Suco Pessego">
                            <h3 class="pedido-titulo">Suco de Pessego</h3> 
                            <h4 class="pedido-preco">R$ 9,90</h4>
                        </div>
                        <div class="pedido-item">
                         <img class="pedido-imagem" src="~/img/sucouva.png" asp-append-version="true" alt="Suco Uva">
                            <h3 class="pedido-titulo">Suco de Uva</h3> 
                            <h4 class="pedido-preco">R$ 9,90</h4>
                        </div>
                        <div class="pedido-item">
                           <img class="pedido-imagem" src="~/img/agua.png" asp-append-version="true" alt="Agua">
                            <h3 class="pedido-titulo">Água</h3> 
                            <h4 class="pedido-preco">R$ 7,90</h4>
                        </div>
                        <div class="pedido-item">
                             <img class="pedido-imagem" src="~/img/aguacomgas.png" asp-append-version="true" alt="Agua c/ gás">
                            <h3 class="pedido-titulo">Água com Gás</h3> 
                            <h4 class="pedido-preco">R$ 7,90</h4>
                        </div>
                     
                    </div>
                </div>
            </div>
        </div>
    </div>

</body>
</html>