<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Acompanhamentos</title>
    <link rel="stylesheet" href="~/css/extras.css" asp-append-version="true">
    <link href="https://fonts.googleapis.com/css2?family=Tilt+Warp&display=swap" rel="stylesheet">
</head>
<body>

    <div class="main">
        <div class="banner">
            <img src="~/img/telainicialmolhos.png">
            <div class="buttons">
                <button class="button"><img class="img-menu-item" src="img/simbolo.jpg"></button>
            </div>
        </div>
        <div class="c1">
             <div class="menu">
                <div class="menu-item">
                    <img class="img-menu-item" src="~/img/menuburguerimage.png" asp-append-version="true" alt="Lanches">
                    <div>Lanches</div>
                </div>
                <div class="menu-item">
                    <img class="img-menu-item" src="~/img/combos.png" asp-append-version="true" alt="Combos">
                    <div>Combos</div>
                </div>
                <div class="menu-item">
                    <img class="img-menu-item" src="~/img/sobremesa.png" asp-append-version="true" alt="Sobremesas">
                    <div>Sobremesas</div>
                </div>
                <div class="menu-item">
                    <img class="img-menu-item" src="~/img/bebidas.png" asp-append-version="true" alt="Bebidas">
                    <div>Bebidas</div>
                </div>
                <div class="menu-item">
                    <img class="img-menu-item" src="~/img/batata.png" asp-append-version="true" alt="Extras">
                    <div>Extras</div>
                </div>
                <div class="menu-item">
                    <img class="img-menu-item" src="~/img/molhos.png" asp-append-version="true" alt="Molhos">
                    <div>Molhos</div>
                </div>
                <div class="menu-item">
                    <img class="img-menu-item" src="~/img/cupom.png" asp-append-version="true" alt="Promoções">
                    <div>Promoções</div>
                </div>
            </div>
         
            <div class="content">

                <div class="container-categoria">
                    <div class="nav-categorias">
                        <a href="">Batatas</a>
                        <a href="">Nuggets</a>
                    </div>
                </div>
                <div class="pedido">
                    <div class="pedido-grid">
                        <div class="pedido-item">
                          <img class="pedido-imagem" src="~/img/batata.png">
                        <h3 class="pedido-titulo">Batata Frita</h3> 
                            <h4 class="pedido-preco">R$ 18,90</h4>
                        </div>
                        <div class="pedido-item">
                            <img class="pedido-imagem" src="~/img/batatacheddar.png">
                            <h3 class="pedido-titulo">Batata com Cheddar</h3> 
                            <h4 class="pedido-preco">R$ 20,90</h4>
                        </div>
                        <div class="pedido-item">
                            <img class="pedido-imagem" src="~/img/batatacheddarcombacon.png">
                            <h3 class="pedido-titulo">Batata com Cheddar e Bacon</h3> 
                            <h4 class="pedido-preco">R$ 24,90</h4>
                        </div>
                        <div class="pedido-item">
                            <img class="pedido-imagem" src="~/img/batatarustica.png">
                            <h3 class="pedido-titulo">Batata Rústica</h3> 
                            <h4 class="pedido-preco">R$ 18,90</h4>
                        </div>
                        <div class="pedido-item">
                            <img class="pedido-imagem" src="~/img/batatachips.png">
                            <h3 class="pedido-titulo">Batata Chips</h3> 
                            <h4 class="pedido-preco">R$ 16,90</h4>
                        </div>
                        <div class="pedido-item">
                            <img class="pedido-imagem" src="~/img/chipsdebatatadoce.png">
                            <h3 class="pedido-titulo">Chips de batata doce</h3> 
                            <h4 class="pedido-preco">R$ 19,90</h4>
                        </div>
                        <div class="pedido-item">
                            <img class="pedido-imagem" src="~/img/nuggets5.png">
                            <h3 class="pedido-titulo">Nuggets com 5 unidades</h3> 
                            <h4 class="pedido-preco">R$ 10,90</h4>
                        </div>
                        <div class="pedido-item">
                        <img class="pedido-imagem" src="~/img/nuggets8.png">
                            <h3 class="pedido-titulo">Nuggets com 8 unidades</h3> 
                            <h4 class="pedido-preco">R$ 15,90</h4>
                        </div>
                        <div class="pedido-item">
                        <br> <img class="pedido-imagem" src="~/img/nuggets.png">
                            <h3 class="pedido-titulo">Nuggets com 20 unidades</h3> 
                            <h4 class="pedido-preco">R$ 29,90</h4>
                        </div>
                     
                    </div>
                </div>
            </div>
        </div>
    </div>

</body>
</html>