<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Molhos</title>
    <link rel="stylesheet" href="molhos.css">
    <link href="https://fonts.googleapis.com/css2?family=Tilt+Warp&display=swap" rel="stylesheet">
</head>
<body>

    <div class="main">
        <div class="banner">
            <img src="img/telainicialmolhos.png">
            <div class="buttons">
                <button class="button"><img class="img-menu-item" src="img/simbolo.jpg"></button>
            </div>
        </div>
        <div class="c1">
            <div class="menu">
                <div1 class="menu-item">
                    <img class="img-menu-item" src="img/menuburguerimage.png">
                    <div>Lanches</div>
                </div1>
                <div class="menu-item">
                    <img class="img-menu-item" src="img/combos.png">
                    <div>Combos</div>
                </div>
                <div class="menu-item">
                    <img class="img-menu-item" src="img/sobremesa.png">
                    <div>Sobremesas</div>
                </div>
                <div class="menu-item">
                    <img class="img-menu-item" src="img/bebidas.png">
                    <div>Bebidas</div>
                </div>
                <div class="menu-item">
                    <img class="img-menu-item" src="img/batata.png">
                    <div>Extras</div>
                </div>
                <div class="menu-item">
                    <img class="img-menu-item" src="img/molhos.png">
                    <div>Molhos</div>
                </div>
                <div class="menu-item">
                    <img class="img-menu-item" src="img/cupom.png">
                    <div>Promoções</div>
                </div>
            </div>
         
            <div class="content">

                <div class="container-categoria">
                    <div class="nav-categorias">
                        <a href="">Molhos Tradicionais</a>
                        <a href="">Molhos Especiais</a>
                    </div>
                </div>
                <div class="pedido">
                    <div class="pedido-grid">
                        <div class="pedido-item">
                            <img class="pedido-imagem" src="img/molhodeketchup.png">
                            <h3 class="pedido-titulo">Molho de Ketchup</h3> 
                            <h4 class="pedido-preco">R$ 4,90</h4>
                        </div>
                        <div class="pedido-item">
                            <img class="pedido-imagem" src="img/molhodepimenta.png">
                            <h3 class="pedido-titulo">Molho de Pimenta</h3> 
                            <h4 class="pedido-preco">R$ 5,90</h4>
                        </div>
                        <div class="pedido-item">
                            <img class="pedido-imagem" src="img/molhodebarbecue.png">
                            <h3 class="pedido-titulo">Molho de Barbecue</h3> 
                            <h4 class="pedido-preco">R$ 4,90</h4>
                        </div>
                        <div class="pedido-item">
                            <img class="pedido-imagem" src="img/molhodequeijos.png">
                            <h3 class="pedido-titulo">Molho de Queijos</h3> 
                            <h4 class="pedido-preco">R$ 5,90</h4>
                        </div>
                        <div class="pedido-item">
                            <img class="pedido-imagem" src="img/maionese.png">
                            <h3 class="pedido-titulo">Molho de Maionese</h3> 
                            <h4 class="pedido-preco">R$ 4,90</h4>
                        </div>
                        <div class="pedido-item">
                            <img class="pedido-imagem" src="img/molhoverdedacsa.png">
                            <h3 class="pedido-titulo">Molho Verde </h3> 
                            <h4 class="pedido-preco">R$ 4,90</h4>
                        </div>
                        <div class="pedido-item">
                          <br>  <img class="pedido-imagem" src="img/molhorose.png">
                            <h3 class="pedido-titulo">Molho Rosé</h3> 
                            <h4 class="pedido-preco">R$ 7,90</h4>
                        </div>
                        <div class="pedido-item">
                         <br>   <img class="pedido-imagem" src="img/molhodequeijos.png">
                            <h3 class="pedido-titulo">Molho de Mostarda</h3> 
                            <h4 class="pedido-preco">R$ 8,90</h4>
                        </div>
                        <div class="pedido-item">
                            <br>    <img class="pedido-imagem" src="img/molhoultrasecretodacasa.png">
                            <h3 class="pedido-titulo">Molho Secreto do Chef</h3> 
                            <h4 class="pedido-preco">R$ 10,90</h4>
                        </div>
                     
                    </div>
                </div>
            </div>
        </div>
    </div>

</body>
</html>