<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Molhos</title>
    <link rel="stylesheet" href="~/css/molhos.css" asp-append-version="true">
    <link href="https://fonts.googleapis.com/css2?family=Tilt+Warp&display=swap" rel="stylesheet">
</head>
<body>

    <div class="main">
        <div class="banner">
            <img src="img/telainicialmolhos.png">
            <div class="buttons">
                <button class="button"><img class="img-menu-item" src="img/simbolo.jpg"></button>
            </div>
        </div>
        <div class="c1">
             <div class="menu">
                <div class="menu-item">
                    <img class="img-menu-item" src="~/img/menuburguerimage.png" asp-append-version="true" alt="Lanches">
                    <div>Lanches</div>
                </div>
                <div class="menu-item">
                    <img class="img-menu-item" src="~/img/combos.png" asp-append-version="true" alt="Combos">
                    <div>Combos</div>
                </div>
                <div class="menu-item">
                    <img class="img-menu-item" src="~/img/sobremesa.png" asp-append-version="true" alt="Sobremesas">
                    <div>Sobremesas</div>
                </div>
                <div class="menu-item">
                    <img class="img-menu-item" src="~/img/bebidas.png" asp-append-version="true" alt="Bebidas">
                    <div>Bebidas</div>
                </div>
                <div class="menu-item">
                    <img class="img-menu-item" src="~/img/batata.png" asp-append-version="true" alt="Extras">
                    <div>Extras</div>
                </div>
                <div class="menu-item">
                    <img class="img-menu-item" src="~/img/molhos.png" asp-append-version="true" alt="Molhos">
                    <div>Molhos</div>
                </div>
                <div class="menu-item">
                    <img class="img-menu-item" src="~/img/cupom.png" asp-append-version="true" alt="Promoções">
                    <div>Promoções</div>
                </div>
            </div>
         
         
            <div class="content">

                <div class="container-categoria">
                    <div class="nav-categorias">
                        <a href="">Lanches</a>
                        <a href="">Bebidas</a>
                        <a href="">Sobremesas</a>
                        <a href="">Categoria 4</a>
                        <a href="">Categoria 5</a>
                        <a href="">Categoria 6</a>
                    </div>
                </div>
                <div class="pedido">
                    <div class="pedido-grid">
                        <div class="pedido-item">
                         <img class="pedido-imagem" src="~/img/byte.png"asp-append-version="true" alt="byte">
                            <h3 class="pedido-titulo">Byte Burguer</h3> 
                            <h3 class="pedido-preco">R$ 25,90</h3>
                            <h4 class="pedido-preco">Por: 18,99</h4>
                        </div>
                        <div class="pedido-item">
                            <img class="pedido-imagem" src="~/img/haburguer.png" asp-append-version="true" alt="index">
                            <h3 class="pedido-titulo">Index Burguer</h3> 
                            <h3 class="pedido-preco">R$ 24,90</h3>
                            <h4 class="pedido-preco">Por: 15,99</h4>
                        </div>
                        <div class="pedido-item">
                         <img class="pedido-imagem" src="~/img/brownie.png"asp-append-version="true" alt="brownie">
                               <h3 class="pedido-titulo">Waffle</h3> 
                               <h3 class="pedido-preco">R$ 28,90</h3>
                               <h4 class="pedido-preco">Por: 15,99</h4>
                           </div>
                        <div class="pedido-item">
                         <img class="pedido-imagem" src="~/img/waffle.png"asp-append-version="true" alt="waffle">
                               <h3 class="pedido-titulo">Waffle</h3> 
                               <h3 class="pedido-preco">R$ 28,90</h3>
                               <h4 class="pedido-preco">Por: 15,99</h4>
                           </div>
                        <div class="pedido-item">
                         <img class="pedido-imagem" src="~/img/sprite.png"asp-append-version="true" alt="sprite">
                            <h3 class="pedido-titulo">Sprite</h3> 
                            <h3 class="pedido-preco">R$ 8,90</h3>
                            <h4 class="pedido-preco">Por: 5,99</h4>
                        </div>
                        <div class="pedido-item">
                        <img class="pedido-imagem" src="~/img/sucopessego.png"asp-append-version="true" alt="Pessego">
                            <h3 class="pedido-titulo">Suco de Pessego</h3> 
                            <h3 class="pedido-preco">R$ 9,90</h3>
                            <h4 class="pedido-preco">Por: 6,99</h4>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

</body>
</html>