<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sobremesas</title>
    <link rel="stylesheet" href="sobremesa.css">
    <link href="https://fonts.googleapis.com/css2?family=Tilt+Warp&display=swap" rel="stylesheet">
</head>
<body>

    <div class="main">
        <div class="banner">
            <img src="img/telainicialsobremesass.png">
            <div class="buttons">
                <button class="button"><img class="img-menu-item" src="img/simbolo.jpg"></button>
            </div>
        </div>
        <div class="c1">
            <div class="menu">
                <div class="menu-item">
                    <img class="img-menu-item" src="img/menuburguerimage.png">
                    <div>Lanches</div>
                </div>
                <div class="menu-item">
                    <img class="img-menu-item" src="img/combos.png">
                    <div>Combos</div>
                </div>
                <div class="menu-item">
                    <img class="img-menu-item" src="img/sobremesa.png">
                    <div>Sobremesas</div>
                </div>
                <div class="menu-item">
                    <img class="img-menu-item" src="img/bebidas.png">
                    <div>Bebidas</div>
                </div>
                <div class="menu-item">
                    <img class="img-menu-item" src="img/batata.png">
                    <div>Extras</div>
                </div>
                <div class="menu-item">
                    <img class="img-menu-item" src="img/molhos.png">
                    <div>Molhos</div>
                </div>
                <div class="menu-item">
                    <img class="img-menu-item" src="img/cupom.png">
                    <div>Promoções</div>
                </div>
            </div>
         
            <div class="content">

                <div class="container-categoria">
                    <div class="nav-categorias">
                        <a href="">Sorvete</a>
                        <a href="">Milk-Shake</a>
                        <a href="">Outros</a>
                        <a href="">Categoria 4</a>
                        <a href="">Categoria 5</a>
                        <a href="">Categoria 6</a>
                    </div>
                </div>
                <div class="pedido">
                    <div class="pedido-grid">
                        <div class="pedido-item">
                            <img class="pedido-imagem" src="img/sorvetemorango.png">
                            <h3 class="pedido-titulo">Sorvete de Morango</h3> 
                            <h4 class="pedido-preco">R$ 8,90</h4>
                            <p class="pedido-descricao">Casquinha de baunilha e sorvete...</p>
                        </div>
                        <div class="pedido-item">
                            <img class="pedido-imagem" src="img/sorvetecookie.png">
                            <h3 class="pedido-titulo">Sorvete de Cookie</h3> 
                            <h4 class="pedido-preco">R$ 8,90</h4>
                            <p class="pedido-descricao">Casquinha de baunilha, sorvete..</p>
                        </div>
                        <div class="pedido-item">
                            <img class="pedido-imagem" src="img/sorvetechocolate.png">
                            <h3 class="pedido-titulo">Sorvete de Chocolate</h3> 
                            <h4 class="pedido-preco">R$ 8,90</h4>
                            <p class="pedido-descricao">Casquinha de baunilha, sorvete...</p>
                        </div>
                        <div class="pedido-item">
                            <img class="pedido-imagem" src="img/milkmorango.png">
                            <h3 class="pedido-titulo">Milk-Shake de Morango</h3> 
                            <h4 class="pedido-preco">R$ 18,90</h4>
                            <p class="pedido-descricao"> Sorvete de Morango...</p>
                        </div>
                        <div class="pedido-item">
                            <img class="pedido-imagem" src="img/milkpipoca.png">
                            <h3 class="pedido-titulo">Milk-Shake de Pipoca Caramelizada</h3> 
                            <h4 class="pedido-preco">R$ 19,90</h4>
                            <p class="pedido-descricao">Sorvete de Pipoca...</p>
                        </div>
                        <div class="pedido-item">
                            <img class="pedido-imagem" src="img/milkbaunilha.png">
                            <h3 class="pedido-titulo">Milk-Shake de baunilha</h3> 
                            <h4 class="pedido-preco">R$ 20,90</h4>
                            <p class="pedido-descricao">Sorvete de Oreo...</p>
                        </div>
                        <div class="pedido-item">
                          <br>  <img class="pedido-imagem" src="img/petit.png">
                            <h3 class="pedido-titulo">Petit Gateau</h3> 
                            <h4 class="pedido-preco">R$ 22,90</h4>
                            <p class="pedido-descricao">Bolo de chocolate...</p>
                        </div>
                        <div class="pedido-item">
                         <br>   <img class="pedido-imagem" src="img/waffle.png">
                            <h3 class="pedido-titulo">Waffle</h3> 
                            <h4 class="pedido-preco">R$ 28,90</h4>
                            <p class="pedido-descricao">Waffle de baunilha</p>
                        </div>
                        <div class="pedido-item">
                            <br>    <img class="pedido-imagem" src="img/brownie.png">
                            <h3 class="pedido-titulo">Brownie</h3> 
                            <h4 class="pedido-preco">R$ 10,90</h4>
                            <p class="pedido-descricao">Brownie de chocolate...</p>
                        </div>
                     
                    </div>
                </div>
            </div>
        </div>
    </div>

</body>
</html>