@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers

<div class="container-categoria">
    <div class="nav-categorias">
        <a href="#" class="active" data-categoria="todos">Todos</a>
        <a href="#" data-categoria="sorvetes">Sorvetes</a>
        <a href="#" data-categoria="milkshakes">Milk Shakes</a>
        <a href="#" data-categoria="doces">Doces</a>
    </div>
</div>
<div class="pedido">
    <div class="pedido-grid">
        <!-- Item 1 -->
        <div class="pedido-item" data-id="1" data-categoria="sorvetes" data-descricao="Sorvete de creme com calda de chocolate e chantilly" onclick="abrirModalEditar(this)">
            <img class="pedido-imagem" src="~/img/sorvetechocolate.png" asp-append-version="true" alt="Sorvete">
            <h3 class="pedido-titulo">Sorvete</h3> 
            <h4 class="pedido-preco">R$ 12,90</h4>
        </div>

        <!-- Item 2 -->
        <div class="pedido-item" data-id="2" data-categoria="milkshakes" data-descricao="Milk shake de chocolate com chantilly e calda" onclick="abrirModalEditar(this)">
            <img class="pedido-imagem" src="~/img/milkbaunilha.png" asp-append-version="true" alt="Milk Shake">
            <h3 class="pedido-titulo">Milk Shake</h3> 
            <h4 class="pedido-preco">R$ 15,90</h4>
        </div>

        <!-- Item 3 -->
        <div class="pedido-item" data-id="3" data-categoria="doces" data-descricao="Brownie com sorvete e calda de chocolate" onclick="abrirModalEditar(this)">
            <img class="pedido-imagem" src="~/img/petit.png" asp-append-version="true" alt="Brownie">
            <h3 class="pedido-titulo">Brownie</h3> 
            <h4 class="pedido-preco">R$ 18,90</h4>
        </div>

        <!-- Item 4 -->
        <div class="pedido-item" data-id="4" data-categoria="doces" data-descricao="Torta de chocolate com morangos" onclick="abrirModalEditar(this)">
            <img class="pedido-imagem" src="~/img/waffle.png" asp-append-version="true" alt="Torta">
            <h3 class="pedido-titulo">Torta</h3> 
            <h4 class="pedido-preco">R$ 16,90</h4>
        </div>
    </div>
</div>

<script src="~/js/modal.js" asp-append-version="true"></script>
<script src="~/js/modalEdit.js" asp-append-version="true"></script> 