<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sobremesas</title>
    <link rel="stylesheet" href="~/css/sobremesa.css" asp-append-version="true">
    <link href="https://fonts.googleapis.com/css2?family=Tilt+Warp&display=swap" rel="stylesheet">
</head>
<body>

    <div class="main">
        <div class="banner">
            <img src="~/img/telainicialsobremesass.jpg" asp-append-version="true" alt="Banner">
            <div class="buttons">
                <button class="button"><img class="img-menu-item" src="img/simbolo.jpg"></button>
            </div>
        </div>
        <div class="c1">
             <div class="menu">
                <div class="menu-item">
                    <img class="img-menu-item" src="~/img/menuburguerimage.png" asp-append-version="true" alt="Lanches">
                    <div>Lanches</div>
                </div>
                <div class="menu-item">
                    <img class="img-menu-item" src="~/img/combos.png" asp-append-version="true" alt="Combos">
                    <div>Combos</div>
                </div>
                <div class="menu-item">
                    <img class="img-menu-item" src="~/img/sobremesa.png" asp-append-version="true" alt="Sobremesas">
                    <div>Sobremesas</div>
                </div>
                <div class="menu-item">
                    <img class="img-menu-item" src="~/img/bebidas.png" asp-append-version="true" alt="Bebidas">
                    <div>Bebidas</div>
                </div>
                <div class="menu-item">
                    <img class="img-menu-item" src="~/img/batata.png" asp-append-version="true" alt="Extras">
                    <div>Extras</div>
                </div>
                <div class="menu-item">
                    <img class="img-menu-item" src="~/img/molhos.png" asp-append-version="true" alt="Molhos">
                    <div>Molhos</div>
                </div>
                <div class="menu-item">
                    <img class="img-menu-item" src="~/img/cupom.png" asp-append-version="true" alt="Promoções">
                    <div>Promoções</div>
                </div>
            </div>
         
            <div class="content">

                <div class="container-categoria">
                    <div class="nav-categorias">
                        <a href="">Sorvete</a>
                        <a href="">Milk-Shake</a>
                        <a href="">Outros</a>
                        <a href="">Categoria 4</a>
                        <a href="">Categoria 5</a>
                        <a href="">Categoria 6</a>
                    </div>
                </div>
                <div class="pedido">
                    <div class="pedido-grid">
                        <div class="pedido-item">
                            <img class="pedido-imagem" src="~/img/sorvetemorango.png" asp-append-version="true" alt="Sorve morango">
                            <h3 class="pedido-titulo">Sorvete de Morango</h3> 
                            <h4 class="pedido-preco">R$ 8,90</h4>
                            
                        </div>
                        <div class="pedido-item">
                           <img class="pedido-imagem" src="~/img/sorvetecookie.png" asp-append-version="true" alt="Sorve cookie">
                            <h3 class="pedido-titulo">Sorvete de Cookie</h3> 
                            <h4 class="pedido-preco">R$ 8,90</h4>
                           
                        </div>
                        <div class="pedido-item">
                         <img class="pedido-imagem" src="~/img/sorvetechocolate.png" asp-append-version="true" alt="Sorve chocolate">
                            <h3 class="pedido-titulo">Sorvete de Chocolate</h3> 
                            <h4 class="pedido-preco">R$ 8,90</h4>
                            
                        </div>
                        <div class="pedido-item">
                         <img class="pedido-imagem" src="~/img/milkmorango.png" asp-append-version="true" alt="Milk Morango">
                            <h3 class="pedido-titulo">Milk-Shake de Morango</h3> 
                            <h4 class="pedido-preco">R$ 18,90</h4>

                        </div>
                        <div class="pedido-item">
                         <img class="pedido-imagem" src="~/img/milkpopoca.png" asp-append-version="true" alt="Milk Pipoca">
                            <h3 class="pedido-titulo">Milk-Shake de Pipoca Caramelizada</h3> 
                            <h4 class="pedido-preco">R$ 19,90</h4>
                          
                        </div>
                        <div class="pedido-item">
                         <img class="pedido-imagem" src="~/img/milkbaunilha.png" asp-append-version="true" alt="Milk Baunilha">
                            <h3 class="pedido-titulo">Milk-Shake de baunilha</h3> 
                            <h4 class="pedido-preco">R$ 20,90</h4>
                        
                        </div>
                        <div class="pedido-item">
                         <img class="pedido-imagem" src="~/img/petit.png" asp-append-version="true" alt="Petit">
                            <h3 class="pedido-titulo">Petit Gateau</h3> 
                            <h4 class="pedido-preco">R$ 22,90</h4>
                          
                        </div>
                        <div class="pedido-item">
                         <img class="pedido-imagem" src="~/img/waffle.png" asp-append-version="true" alt="Waffle">
                            <h3 class="pedido-titulo">Waffle</h3> 
                            <h4 class="pedido-preco">R$ 28,90</h4>
                           
                        </div>
                        <div class="pedido-item">
                         <img class="pedido-imagem" src="~/img/brownie.png" asp-append-version="true" alt="Brownie">
                            <h3 class="pedido-titulo">Brownie</h3> 
                            <h4 class="pedido-preco">R$ 10,90</h4>
                          
                        </div>
                     
                    </div>
                </div>
            </div>
        </div>
    </div>

</body>
</html>