* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    min-height: 100vh;
    background-color: white;
    font-family: 'Tilt Warp', sans-serif;
    overflow: hidden;
}
.main {
    display: flex;
    flex-direction: column;
    width: 56.25vh;
    height: 100vh;
    background: #FCFCFC;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}
.banner {
    position: relative;
    width: 100%;
    height: 20vh;
    background: black;
    text-align: center;
}
.banner img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.buttons {
    position: absolute;
    top: 50%;
    right: 0;
    transform: translateY(-50%);
    display: flex;
    flex-direction: column;
    gap: 1vh;
    max-width: 100%;
    overflow: hidden;
}
.button {
    background-color: #055fbf;
    cursor: pointer;
    border: none;
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 3vh;
    height: 6vh;
    max-width: 100%;
    max-height: 100%;
}
.button img {
    width: 100%;
    height: 100%;
    object-fit: contain;
}
.c1 {
    display: flex;
    width: 100%;
    flex-grow: 1;
    height: 65vh;
}
.menu {
    background: #FFFFFE;
    display: flex;
    flex-direction: column;
    padding: 1vh;
    width: 22%;
    height: auto;
    box-shadow: 5px 0 20px rgba(159, 159, 159, 0.2);
}
.menu-item {
    padding: 0.5vh;
    margin-bottom: 1vh;
    text-align: center;
    color: black;
    cursor: pointer;
    border-radius: 2vh;
    transition: background-color 0.3s;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.menu-item:hover {
    background: #DEF05F;
}
.menu-item img {
    width: 50%;
    height: auto;
    margin-bottom: 0.5vh;
}
.menu-item div {
    font-size: 1.5vh;
    text-align: center;
}
.content {
    flex-grow: 1;
    padding: 2vh;
    overflow-y: hidden;
}
.pedido-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 1vh;
    padding: 1vh;
    overflow-y: auto;
    max-height: calc(100vh - 35vh);
    padding-bottom: 1vh;
    
}
.pedido-item {
    padding: 0.5vh;
    background: #FFFFFE;
    text-align: center;
    border-radius: 2vh;
    transition: background-color 0.3s;
    box-shadow: 0px 4px 10px rgba(220, 220, 220, 0.3);
}
.pedido-item:hover {
    background: #e9e9e9;
}
.pedido-imagem {
    width: 8vh;
    height: auto;
    margin-bottom: 1vh;
}
.pedido-titulo {
    font-size: 2vh;
    margin-bottom: 0.5vh;
}
.pedido-preco {
    color: green;
    font-size: 1.8vh;
    margin-bottom: 0.5vh;
}
.pedido-descricao {
    font-size: 1.5vh;
    color: #6D6D6D;
    text-align: center;
    line-height: 1.2;
}
.container-categoria {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    padding: 1vh 0;
    background: #f8f8f8;
    position: relative;
}
.nav-categorias {
    display: flex;
    gap: 2vh;
}
.nav-categorias a {
    padding: 1vh 2vh;
    font-size: 2vh;
    text-decoration: none;
    color: #3F3F3F;
    border-radius: 2vh;
    transition: 0.3s;
}
.nav-categorias a:hover, .nav-categorias a.active {
    background-color: #A3CF3B;
    color: white;
}
.barra-inferior {
    height: 15vh;
    width: 100%;
    background: #FFFFFF;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
    box-shadow: 0px -4px 10px rgba(159, 159, 159, 0.2);
    position: relative;
    padding: 1vh;
}

.total {
    position: absolute;
    top: 1vh;
    right: 2vh;
    font-size: 2vh;
    color: red;
    font-weight: bold;
}

.botao-container {
    display: flex;
    gap: 2vh;
    width: 100%;
    justify-content: center;
    padding-bottom: 1vh;
}

.botao-container button {
    font-size: 1.6vh;
    padding: 0.8vh 3vh;
    border-radius: 1.2vh;
    cursor: pointer;
    text-transform: uppercase;
    font-weight: bold;
    transition: all 0.3s ease;
    width: 30%;
    max-width: 15vh; 
    height: 4vh; 
    display: flex;
    align-items: center;
    justify-content: center;
    white-space: nowrap;
    text-align: center;
}

.botao-cancelar {
    background-color: white;
    color: #3F3F3F;
    border: 2px solid #3F3F3F;
}

.botao-cancelar:hover {
    background-color: #3F3F3F;
    color: white;
}

.botao-finalizar {
    background-color: white;
    color: #3F3F3F;
    border: 2px solid #3F3F3F;
}

.botao-finalizar:hover {
    background-color: #3F3F3F;
    color: white;
}

.botao-carrinho {
    background-color: red;
    color: white;
    border: 2px solid red;
    width: 10%;
}

.botao-carrinho:hover {
    background-color: darkred;
    border: 2px solid darkred;
}